{
  "presets": ["react-app"],
  "plugins": [["import", { "libraryName": "antd", "style": false }],["transform-runtime",{
    "helpers": false,
    "polyfill": true,
    "regenerator": true,
    "moduleName": "babel-runtime"
  }]]
}
